
.contain{
  width: 35%;
  margin-left: 30%;
}

.divide{
  display: flex;
  justify-content: space-between;
}

.contains{
  width: 65%;
  margin-left: 17%;
}
.btn-primary{
  width: 35%;
  margin-left: 30%;
}